<!DOCTYPE HTML>
<html>
    <head>
        <title>Crossfit PRs - {%block pagetitle %}{% endblock %}</title>
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
    </head>
    <body>
        <div id="header">
            <p class="greeting">
            {% if user.is_authenticated %}
                {{ user.username }}. <a href="/registration/logout/?next=/prs/home">Log out</a>
            {% else %}
                <a href="/prs/new_account/">Create account</a> <a href="/registration/login/?next={{ request.path }}">Log in</a>
            {% endif %}
            </p>
            <div id="headerText">Crossfit PRs</div>
        </div>
        <div id="content">
            <nav class="underlinemenu">
                <ul>
                    <li><a href="{% url prs.views.home %}">Home</a></li>
                    <li><a href="{% url prs.views.create_activity  %}">Add Activitiy</a></li>
                    <li><a href="{% url prs.views.create_score %}">Add Score</a></li>
                           
                    <li><a href="{% url prs.views.all %}">All</a></li>
                    <li><a href="{% url prs.views.all_prs %}">PRs</a></li>
                    <li><a href="{% url prs.views.about %}">About</a></li>
                </ul>
            </nav>

            <h1>{% block title %}Crossfit PRs - {% endblock %}</h1>
            {% block primary %}{% endblock %}
        </div>
    </body>
</html>
