{% extends 'base_form.html' %}
{% block pagetitle %}Add New Score{% endblock %}
{% block js %}create_score.js{% endblock %}
{% block css %}create_score.css{% endblock %}
{% block title %}<h1>Add New Score</h1>{% endblock %}
{% block primary %}


<form id="new_score_form" method="POST" action="">{% csrf_token %}
    <input id="id_activities" type="hidden" value="{{ form.activities }} "/>
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.activity.errors }}
        <label for="id_activity">Activity</label>
        {{ form.activity }}
    </div>
    <div class="fieldWrapper">
        {{ form.when.errors }}
        <label for="id_when">Date</label>
        {{ form.when }}
    </div>

    <div id="id_weight_wrapper" class="fieldWrapper hide">
        <div class="row">
          {{ form.weight.errors }}
          {{ form.unit.errors }}
        </div>
        <div>
          <label class="weight_label_first" for="id_weight">Weight</label>
          <label class="weight_label" for="id_unit">Unit</label>
        </div>
        <div id="weight_row">{{ form.weight }} {{ form.unit }}</div>
    </div>

    <div id="id_reps_wrapper" class="fieldWrapper hide">
        {{ form.reps.errors }}
        <label for="id_reps">Reps</label>
        {{ form.reps }}
    </div>
    <div id="id_time_wrapper" class="fieldWrapper hide">
        {{ form.time.errors }}
        <label for="id_time">time</label>
        {{ form.time }}
    </div>

    <button type="submit" class="clean-gray">Record Score</button>
</form>
{% endblock %}
