{% extends 'base_form.html' %}
{% block pagetitle %}Add New Score{% endblock %}
{% block js %}create_score.js{% endblock %}
{% block title %}<h1>Add New Score</h1>{% endblock %}
{% block primary %}

<form id="new_score_form" method="POST" action="">{% csrf_token %}
    <input id="id_activities" type="hidden" value="{{ form.activities }} "/>
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.activity.errors }}
        <label for="id_activity">Activity</label>
        {{ form.activity }}
    </div>
    <div class="fieldWrapper">
        {{ form.when.errors }}
        <label for="id_when">Date</label>
        {{ form.when }}
    </div>
    <div id="id_weight_wrapper" class="fieldWrapper hide">
        {{ form.weight.errors }}
        <label for="id_weight">Weight</label>
        {{ form.weight }}
        
        {{ form.unit.errors }}
        <label for="id_unit">Unit</label>
        {{ form.unit }}        
    </div>    
    <div id="id_reps_wrapper" class="fieldWrapper hide">
        {{ form.reps.errors }}
        <label for="id_reps">Reps</label>
        {{ form.reps }}
    </div>
    <div id="id_time_wrapper" class="fieldWrapper hide">
        {{ form.time.errors }}
        <label for="id_time">time</label>
        {{ form.time }}
    </div>
    
    <button type="submit" class="clean-gray">Create Activity</button>
</form>


  
<!--form id="new_score_form2" method="POST" action="">{% csrf_token %}

    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}
    <button type="submit" value="Create Activity" />
</form-->  



  
  
<!--form id="new_score_form" method="POST" action="">{% csrf_token %}
  <ul>
    {{ form.as_ul }}
  </ul>
  <input type="submit" value="Create" />
</form-->
{% endblock %}
