{% extends 'base.html' %}
{% block pagetitle %}All PRs{% endblock %}

{% block primary %}

<table id="results_table" class="sortable">
    <caption>All PRs</caption>
    <thead>
        <tr>
            <th>Date</th>
            <th>Activity</th>
            <th class="sorttable_nosort">Score</th>
        </tr>
    </thead>
    <tbody>
{% for pr in prs %}
    <tr class="{% cycle 'even' 'odd'%}">
        <td sorttable_customkey={{ s.when|date:"c" }}>{{ pr.when }}</td>
        <td><a href="/prs/{{ pr.id }}/">{{ pr.activity.name }}</td>
        <td>{{ pr.result }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}
