body {
    background-color: #dddddd;
    margin-left: auto;
    margin-right: auto;
    font-family: arial, sans-serif;    
}

a {
    text-decoration: none;
    background: none;
}

ul {
    padding: 0 0 0 0;
}

li {
    list-style: none;
}

.debug {
    border: solid 1px green;
}

.hide {
    display: none;
}
    
.fieldWrapper {
    width: 100%;
}

.row {
    width: 100%;
    display: table-row;
    padding-bottom: 10px;
}

.relative {
    position: relative;
    padding-bottom: 50px;
}
.cell {
    display: table-cell;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

#results_table {
    margin: 0 auto;
    padding-top: 30px;
}

#results_table caption {
    padding: 10px 10px 10px 10px;
    font-size: 20pt;
    font-weight: bold;
}

#results_table thead th {
    cursor: pointer;
}

#results_table thead,
#results_table thead th,
#results_table td {
    padding: 10px 10px 10px 10px;
}

#results_table thead th.sorttable_nosort {
    cursor: default;
}

#results_table thead tr {
    color: #777777;	
}

#results_table tbody tr {
    color: maroon;
    border: dotted 1px black;
}

.odd {
    background-color: #dddddd;
}

.even {
    background-color: #bbbbbb;
}


#header {
    height: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;

    background: dddddd; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#dddddd'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#dddddd)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #000,  #dddddd); /* for firefox 3.6+ */
    background-image: -o-linear-gradient(top,  #000,  #dddddd); /* for firefox 3.6+ */
}


#header a:link, #header a:hover, #header a:visited, #header a:active {
    color: green;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

#headerText {
    font-size: 20pt;
    font-weight: bold;
    color: rgb(128, 0, 0);
    text-align: center;
    padding: 90px 0 90px 0;
}

.greeting {
    color: rgb(0, 128, 0);
    float: right;
    padding-right: 10px;
}

.underlinemenu {
    font-weight: bold;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.underlinemenu ul {
 /* 6px should equal top padding of "ul li a" below, 7px should equal
    bottom padding + bottom border of "ul li a" below */
    padding: 6px 0 7px 0;
    margin: 0;
    text-align: left; /* set value to "left", "center", or "right"*/
}

.underlinemenu ul li {
    display: inline;
}

.underlinemenu ul li a {
    color: #494949;
    padding: 6px 3px 4px 3px; /* top padding is 6px, bottom padding is 4px*/
    margin-right: 20px; /* spacing between each menu link */
    text-decoration: none;
    border-bottom: 3px solid gray; /* bottom border is 3px */
}

.underlinemenu ul li a:hover, .underlinemenu ul li a.selected {
    border-bottom-color: black;
}

.center {
    margin: 0px auto -1px auto;
    margin-left: auto;
    margin-right: auto;	
}

#content {
    width: 800px;
    /*
    margin-left: auto;
    margin-right: auto;
    */
    margin: 0px auto -1px auto;
}

#content h1 {
	text-align: center;
}
.score a {
    color: rgb(128, 0, 0);
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}

.score a:hover {
    font-weight: bold;
    padding: 5px 5px 5px 5px;
}

footer {

}

/*****************************

   B U T T O N

******************************/
button.clean-gray, input.submit .clean-gray {
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(top, #eeeeee, #cccccc);
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
    width: 150px;
}

.clean-gray:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
}

button.clean-gray:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}


/*****************************

   F O R M

******************************/
form {
    width: 250px;
    padding: 20px;
    border: 1px solid maroon;
    margin: 0 auto;
 
    /*** Adding in CSS3 ***/
 
    /*** Rounded Corners ***/
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
 
    /*** Background Gradient - 2 declarations one for Firefox and one for Webkit ***/
    background: -moz-linear-gradient(19% 75% 90deg, rgb(128, 0, 0), rgb(166, 0, 0)) repeat scroll 0% 0% transparent;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#4E0085));
    background-image: -o-linear-gradient(90deg,rgb(128,0,0) 190% ,rgb(166,0,0) 75%);
    /*** Shadow behind the box ***/
    -moz-box-shadow:0px -5px 300px #270644;
    -webkit-box-shadow:0px -5px 300px #270644;
    -ms-box-shadow: 0px -5px 300px #270644;
    -o-box-shadow: 0px -5px 300px maroon;
    box-shadow: 0px -5px 300px maroon;
}

label {
    font-size: 12px;
    list-style-type: none;
    color: maroon;
    text-shadow: black 1px 1px;
    padding-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
}

select {
    margin-bottom: 10px;    
}

input {
    width: 230px;
    background: #c9c9c9;
    margin-bottom: 10px;
    border-top: 1px solid #eeeeee;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
 
    /*** Adding CSS3 ***/
 
    /*** Transition Selectors - What properties to animate and how long ***/
    -webkit-transition-property: -webkit-box-shadow, background;
    -webkit-transition-duration: 0.25s;
 
    /*** Adding a small shadow ***/
    -moz-box-shadow: 0px 0px 2px #000;
    -webkit-box-shadow: 0px 0px 2px #000;
    -o-box-shadow: 0px 0px 2px #000;
    -ms-box-shadow: 0px 0px 2px #000;
    box-shadow: 0px 0px 2px #000;
}

input:hover {
    -webkit-box-shadow: 0px 0px 4px #000;
    background: #dadada;
}

input.submit {
    width: 100px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: #000 1px 1px;
    border-top: 1px solid #ad64e0;
    margin-top: 10px;
 
    /*** Adding CSS3 Gradients ***/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#781bb9));
    background: -moz-linear-gradient(19% 75% 90deg,#781bb9, #963AD6);
    background: -o-linear-gradient(90deg,#963AD6, 19%,#781bb9, 75%);
}
